@import url(../common/header.css);
@import url(../common/footer.css);
@import url(../common/parts.css);

main {
    background-color: rgba($color: skyblue, $alpha: .2);

    & .requirements {
        padding: 20px 0;
    }

    & table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
        
        & caption {
            font-size: 20px;
            font-weight: bold;
        }

        & tr {
            border: 1px solid;
        }

        & th, td {
            border: 1px solid;
            padding: 10px;
        }

        & th {
            width: 20%;
            background-color: rgba(134, 134, 91, .5);
        }
    }
}

@media screen and(max-width:768px) {
    main {

        & table {
            width: 90%;

            & th {
                width: 30%;
            }
            &  td {
                font-size: 12px;
            }
        }
    }
  }